@using ProjectManagement.Application.Extensions
@using ProjectManagement.DataLayer.DTOs.Common
@using ProjectManagement.DataLayer.DTOs.Course
@model ProjectManagement.DataLayer.DTOs.Course.ProjectDefenseRequestDto
@{
    ViewData["Title"] = "RequestProjectDefense";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var project = ViewData["Project"] as RequestProjectDto;
}

<div class="scroll-y px-10 px-lg-15 pt-0 pb-15 request-form">
    @if (project != null)
    {
        <form id="kt_modal_new_target_form" asp-action="RequestProjectDefense" asp-controller="Project" method="post" class="form">
            <div class="mb-13 text-center">
                <h1 class="mb-3">فرم ثبت درخواست دفاع</h1>
                <div class="text-muted fw-bold fs-5">
                    جهت درخواست و بررسی موضوع پروژه شما، فرم زیر را پر کنید و ارسال کنید تا توسط استاد راهنما بررسی شود.
                    <a href="~/files/Project/Project.pdf" class="fw-bolder link-primary">دریافت فایل PDF پروژه</a>
                </div>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="p-3 mb-2 bg-success text-white" style="margin-top: 10px;">
                        @TempData["SuccessMessage"]
                    </div>
                }
                else if (TempData["ErrorMessage"] != null)
                {
                    <div class="p-3 mb-2 bg-danger text-white" style="margin-top: 10px;">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <!--end::توضیحات-->
            </div>
            <!--end::Heading-->
            <!--begin::Input group-->
            <div class="row g-9 mb-8">
                <div class="col-md-6 fv-row">
                    <label class="fs-6 fw-bold mb-2">عنوان پروژه</label>
                    <p>@project.Title</p>
                </div>
                <div class="col-md-6 fv-row">
                    <label class="fs-6 fw-bold mb-2">پلتفرم اجرایی</label>
                    <p>@project.Platform.GetEnumName()</p>
                </div>
            </div>

            <div class="row g-9 mb-8">
                <div class="col-md-6 fv-row">
                    <label class="required fs-6 fw-bold mb-2">هم گروهی</label>
                    <p>@project.TeammateName (@project.TeammateStudentCode)</p>
                </div>
                <div class="col-md-6 fv-row">
                    <label class="fs-6 fw-bold mb-2">استاد راهنما</label>
                    <p>@project.TeacherFullName</p>
                </div>
            </div>

            <div class="d-flex flex-column mb-8">
                <label class="fs-6 fw-bold mb-2">توضیحات پروژه</label>
                <textarea asp-for="Description" class="form-control form-control-solid" rows="3"
                      placeholder="اگر نکته ای نیاز هست می تونید برای استاد در این بخش بنویسید"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>

            <input type="hidden" asp-for="TeacherId" value="@project.TeacherId" />
            <input type="hidden" asp-for="ProjectId" value="@project.RequestProjectId" />
            <input type="hidden" asp-for="StudentId" value="@project.StudentId" />

            <div class="text-center">
                <button type="submit" id="kt_modal_new_target_submit" class="btn btn-primary">
                    <span class="indicator-label">ثبت درخواست دفاع</span>
                </button>
            </div>
        </form>
    }
    else
    {
        <partial name="_NoDataAvailablePartial" model='new NoDataAvailable { Title = "برای به روز رسانی، صفحه را رفرش کنید", Message = ""}' />
    }

</div>