@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectManagement.DataLayer.DTOs.Common
@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    var profile = ViewData["Profile"] as TeacherProfileDto;
    var news = ViewData["News"] as List<NewsDto>;
}

<div class="post d-flex flex-column-fluid main-page-margin-fix" id="kt_post" style="padding: 10px;">
    <div id="kt_content_container" class="container-xxl">
        <div class="row">
            <div class="col-md-12">
                <partial name="_TeacherProfileMainSectionPartial" model="profile" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-5 mb-xl-10 profile-details" id="kt_profile_details_view">
                    <div class="card-header cursor-pointer">
                        <div class="card-title m-0">
                            <h3 class="fw-bolder m-0">جزییات</h3>
                        </div>
                    </div>
                    <div class="card-body p-9">
                        @if (profile.Teacher.ParentId != 0)
                        {
                            <div class="row mb-7">
                                <label class="col-lg-4 fw-bold text-muted">مدیر گروه</label>
                                <div class="col-lg-8 fv-row">
                                    <span class="fw-bold text-gray-800 fs-6">@profile.Teacher.Parent</span>
                                </div>
                            </div>
                        }

                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">نام کاربری</label>
                            <div class="col-lg-8 fv-row">
                                <span class="fw-bold text-gray-800 fs-6">@profile.Teacher.Username</span>
                            </div>
                        </div>

                        <div class="row mb-7">
                            <label class="col-lg-4 fw-bold text-muted">دروس</label>
                            <div class="col-lg-8 d-flex align-items-center">
                                @switch (profile.Teacher.Project)
                                {
                                    case true when profile.Teacher.Internship:
                                        <span class="fw-bolder fs-6 text-gray-800 me-2">
                                            پروژه (@profile.Stats.ProjectStudentsCount دانشجو)
                                            <br />
                                            کارآموزی (@profile.Stats.InternshipStudentsCount دانشجو)
                                        </span>
                                        break;
                                    case true:
                                        <span class="fw-bolder fs-6 text-gray-800 me-2">
                                            پروژه (@profile.Stats.ProjectStudentsCount دانشجو)
                                        </span>
                                        break;
                                    default:
                                        <span class="fw-bolder fs-6 text-gray-800 me-2">
                                            کارآموزی (@profile.Stats.InternshipStudentsCount دانشجو)
                                        </span>
                                        break;
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card mb-5 mb-xl-10 profile-details" id="kt_profile_details_view2">
                    <partial name="_NewsSectionPartial" model="@news"/>
                </div>
            </div>
        </div>
    </div>
</div>